

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="bg">
    <ion-toolbar >

      <ion-title size="large" class="txt"> Über Uns </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content class="H4">

    <ion-grid>
      <ion-row>

        <ion-col></ion-col>
        <ion-col >

          <p><ion-button shape="round" class="button" color="dark" (click)="gotoApp()">App-Entwickler</ion-button></p>
          <p><ion-button shape="round" class="button" color="dark" (click)="gotoWeb()">Website-Entwickler</ion-button></p>
          <p><ion-button shape="round" class="button" color="dark" (click)="gotoDes()">Designerin</ion-button></p>


        </ion-col>
        <ion-col></ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>


