.bg{
  padding-top:65px;
  background-color: #bebdbd;
  --ion-background-color: #bebdbd;
  font-size: 16px;
}
.txt{
  font-size: 35px;
  text-align: center;
}
.bgm{
  background-color: #bebdbd;
  --ion-background-color: #bebdbd;

}
.button{
  height: 125px;
  width: 125px;


}
.iconcol{
  color: #0d0d0d;
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;



  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;

  user-select: none;
}

.rounded-rectangle {
  width: 250px;
  height: 75px;
  border-radius: 8px;
}
ion-icon {
  font-size: 60px;
}
.hook{
  length:100px;
  width: 100px;
  margin-bottom: -100px;
}

.img1{
  length:100px;
  width: 100px;
 margin-left: auto;
  margin-bottom: -110px;

}

.img3{
  length:100px;
  width: 100px;
  margin-left: 110px;
  margin-bottom: -50px;
}
.p{
  padding-top: 10px;
}

