.bg{
  padding-top: 65px;
  --ion-background-color: #bebdbd;
  background-color: #bebdbd;
}
.bgm{
  --ion-background-color: #bebdbd;

}
.txt{
  font-size: 35px;
}
.card{
  --ion-background-color: #8a8989;
}
.cs{
  font-size: 12px;
}
