<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Schülerinnen
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> SchülerInnen </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let student of students; let i = index">


                <ion-button fill="clear" (click)="gotoUser(student.id)">

                  <ion-item>
                    <ion-avatar slot="start">
                      <img alt="Silhouette of a person's head" src="{{student.imageUrl}}"/>
                    </ion-avatar>
                    <ion-label>
                      {{student.surname}} {{student.vname}}
                    </ion-label>
                  </ion-item>

                </ion-button>


    </ion-item>
  </ion-list>
</ion-content>




