
<ion-content [fullscreen]="true" class="content3">
  <ion-header collapse="condense" class="bg">
    <ion-toolbar>

      <ion-title size="large" class="txt"> SchülerInnen </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let student of students; let i = index">


                <ion-button fill="clear" (click)="gotoUser(student.id)" class="schueler">

                  <ion-item>
                    <ion-avatar slot="start">
                      <img  src="{{student.imageUrlPB}}"/>
                    </ion-avatar>
                    <ion-label>
                      <p>            mmm</p>
                      {{student.surname}} {{student.vname}}
                      <p>            mmm</p>
                    </ion-label>
                  </ion-item>

                </ion-button>


    </ion-item>
  </ion-list>

</ion-content>




