<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Schülerinnen
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> SchülerInnen </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let student of students; let i = index">

        <!--
                <ion-avatar slot="start">
                  <img alt="Silhouette of a person's head" src="{{student.imageUrl}}"/>
                </ion-avatar>
                <ion-label>
                  {{student.surname}}
                </ion-label>
        -->
                <ion-button fill="clear" (click)="gotoUser(student.id)">

                  <ion-item id="tarik">

                    <ion-avatar slot="start">
                      <img alt="Silhouette of a person's head" src="{{student.imageUrl}}"/>
                    </ion-avatar>
                    <ion-label>
                      {{student.surname}} {{student.vname}}
                    </ion-label>
                  </ion-item>

                </ion-button>
                <!--
                <img src='{{student.imageUrl}}'/>
                {{student.surname}}
                {{student.vname}}
                -->

    </ion-item>
  </ion-list>
</ion-content>



<!--
    <ion-button fill="clear">
<ion-item id="tarik">

  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Tarik Akpinar
  </ion-label>
</ion-item>

    </ion-button>




    <ion-button fill="clear">
<ion-item id="tim">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Tim Altmann
  </ion-label>
</ion-item>
    </ion-button>


    <ion-button fill="clear">
<ion-item id="hatidza">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Hatidza Begagic
  </ion-label>
</ion-item>
    </ion-button>

      <ion-button fill="clear">
<ion-item id="josip">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Josip Benkovic
  </ion-label>
</ion-item>
      </ion-button>
    <ion-button fill="clear">

<ion-item id="Salih">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Salih Bilgin
  </ion-label>
</ion-item>
    </ion-button>

      <ion-button fill="clear">
<ion-item id="zerda">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Zerda Cakir
  </ion-label>
</ion-item>
      </ion-button>

        <ion-button fill="clear">
<ion-item id="falk">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Michael Falk
  </ion-label>
</ion-item>

        </ion-button>
          <ion-button fill="clear">
<ion-item id="roberto">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Roberto Ghiriti
  </ion-label>
</ion-item>
          </ion-button>
    <ion-button fill="clear">

<ion-item id="nöl">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Noel Groiß
  </ion-label>
</ion-item>

    </ion-button>
      <ion-button fill="clear">
<ion-item id="hedrich">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Florian Hedrich
  </ion-label>
</ion-item>


      </ion-button>
        <ion-button fill="clear">
<ion-item id="Ibrahim">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Nagi Ibrahim
  </ion-label>
</ion-item>

        </ion-button>
          <ion-button fill="clear">
<ion-item id="taisir">
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
  </ion-avatar>
  <ion-label>
    Taisir Khalifa
  </ion-label>
</ion-item>

          </ion-button>
            <ion-button fill="clear">
    <ion-item id="Lueger">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Phillipp Lueger
      </ion-label>
    </ion-item>

            </ion-button>
              <ion-button fill="clear">

    <ion-item id="mayerhofer">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Alex Mayerhofer
      </ion-label>
    </ion-item>
              </ion-button>
                <ion-button fill="clear">

    <ion-item id="Milicic">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Lukas Milicic
      </ion-label>
    </ion-item>
                </ion-button>
                  <ion-button fill="clear">

    <ion-item id="Milojkovic">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Stefan Milojkovic
      </ion-label>
    </ion-item>

                  </ion-button>
                    <ion-button fill="clear">
    <ion-item id="Pauer">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Aleksander Pauer
      </ion-label>
    </ion-item>
                    </ion-button>
                      <ion-button fill="clear">
    <ion-item id="Ramljack">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Luka Ramljak
      </ion-label>
    </ion-item>
                      </ion-button>
                        <ion-button fill="clear">
    <ion-item id="Sakar">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Umut Sakar
      </ion-label>
    </ion-item>

                        </ion-button>
                          <ion-button fill="clear">
    <ion-item id="Samarati">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Michael Samarati
      </ion-label>
    </ion-item>

                          </ion-button>
                            <ion-button fill="clear">
    <ion-item id="Trojan">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Victor Trojan
      </ion-label>
    </ion-item>

                            </ion-button>
                              <ion-button fill="clear">
    <ion-item id="Vollmann">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Phillipp Vollmann
      </ion-label>
    </ion-item>
                              </ion-button>
                                <ion-button fill="clear">
    <ion-item id="Yusupova">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="assets/mcqueen.png"/>
      </ion-avatar>
      <ion-label>
        Linda Yusupova
      </ion-label>
    </ion-item>

                                </ion-button>

  </ion-list>
</ion-content>

-->





